.container-fluid-pattern33 {
  position: relative;
  background:
    linear-gradient(to right, rgba(var(--pattern-rgb),0.8), rgba(var(--pattern-rgb),0.8)),
    url(../../assets/common-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.container-fluid-pattern33::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px; /* fade height */
  background: linear-gradient(
    to top,
    rgba(var(--pattern-rgb), 0) 0%,
    rgba(var(--pattern-rgb),1) 100%
  );
  pointer-events: none;
  z-index: 0; /* make sure it’s behind the content */
}
.container-fluid-pattern33::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px; /* adjust to make fade stronger or softer */
  background: linear-gradient(
    to bottom,
    rgba(var(--pattern-rgb), 0) 0%,
    rgba(var(--pattern-rgb),1) 100%
  );
  pointer-events: none;
}

/* Make sure your content is above the pseudo-element */
.container-fluid-pattern33 > * {
  position: relative;
  z-index: 1;
}


  .subtitle2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    max-width: 62%;
    color: var(--text-muted);
    margin: 0 auto; 
    text-align: center; 
    display: inline-block; 
    white-space: normal; 
  }
  .subtitlebox2{
    max-width: 62%;
  }