.timer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: 'Arial', sans-serif;
	margin-bottom: 15px;
  }
  
  .timer-container p {
	margin: 10px;
	padding: 20px;
	background-color: #fff; /* White background */
	color: #333; /* Dark gray text */
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	width: 120px;
  }
  
  .timer-container p::before {
	content: attr(data-label);
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
	color: #333; /* Dark gray text */
  }
  
  .timer-container p span {
	font-size: 32px;
	font-weight: bold;
	display: block;
	margin-top: 10px;
  }
  
  .timer-container p:hover {
	background-color: #f0f0f0; /* Light gray background on hover */
	cursor: pointer;
	transform: translateY(-2px);
	transition: background-color 0.3s, transform 0.3s;
  }
  
  .timer-container p:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
	.timer-container p {
	  width: 100px;
	  padding: 15px;
	  font-size: 24px;
	}
  
	.timer-container p span {
	  font-size: 28px;
	}
  }
  