.container-fluid-pattern44 {
  position: relative;
  background: 
    linear-gradient(to right, rgba(245,245,245,0.8), rgba(245,245,245,0.8)),
    url(../../assets/common-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

/* Only fade out at the very bottom */
.container-fluid-pattern44::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px; /* adjust to make fade stronger or softer */
  background: linear-gradient(
    to bottom,
    rgba(250, 250, 250, 0) 0%,
    #fafafa 100%
  );
  pointer-events: none;
}


  .subtitle2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    max-width: 62%;
    color: #666;
    margin: 0 auto; 
    text-align: center; 
    display: inline-block; 
    white-space: normal; 
  }
  .subtitlebox2{
    max-width: 62%;
  }